# config
markdown-blog/config.yaml

# logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
markdown-blog/server
blog-frontend/dist

# node_modules
blog-frontend/node_modules/

# Admin project (独立仓库 git@github.com:jumoshen/claude-blog-admin.git)
claude-blog-admin/
